<h1>Halo <%= @user.username %>!</h1>
<p>Anda telah berhasil menambahkan buku baru:</p>
<p><strong>Judul:</strong> <%= @book.judul %></p>
<p><strong>Tahun Terbit:</strong> <%= @book.tahun_terbit %></p>
<p>Terima kasih telah menggunakan layanan kami!</p>
